.Frame {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
}

.Frame-header {
    width: 100%;
    border-bottom: 1px solid $color-border;
    // padding: 0 30px;
}

.Frame-inner {
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 30px;
}

.Frame-body {
    padding-top: 30px;
}

.Frame-sidebar {
    width: 250px;
    flex-shrink: 0;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 15px;
    // border-right: 1px solid $color-border;
}

.Frame-main {
    flex-grow: 1;
    padding-left: 30px;
    padding-bottom: 30px;
    max-width: 800px;
    // padding: 20px 30px;
}
