.Frame {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
}

.Frame-header {
    width: 100%;
    border-bottom: 1px solid $color-border;
    // padding: 0 30px;
}

.Frame-inner {
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 30px;
}

.Frame-body {
    > .Frame-inner {
        height: calc(100vh - 4em);
        position: relative;
    }
}

.Frame-sidebar {
    width: 250px;
    flex-shrink: 0;
    padding-right: 30px;
    padding-top: 30px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    &:hover {
        overflow: auto;
    }
}

.Frame-main {
    flex-grow: 1;
    padding-left: 30px;
    padding-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 30px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .Frame-inner {
        max-width: 800px;
    }
}

.Frame-main::-webkit-scrollbar-thumb {
    background: #fff;
}
.Frame-main:hover::-webkit-scrollbar-thumb {
    background: rgba($color-text, 0.1);
}
