// --------------------------

$font-family-monospace: Hack, Consolas, Monaco, "Andale Mono", monospace !default;
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif !default;

$color-text: #222;
$color-heading: #222;
$color-link: #0074D9;
$color-border: #ddd;

// --------------------------

@import "normalize.css/normalize";
@import "highlight.js/styles/github";
@import "fonts";
@import "mixins";

// --------------------------

*,
*:after,
*:before {
    box-sizing: inherit;
}

::selection {
    background-color: rgba($color-link, 0.075);
}

html {
    position: relative;
    height: 100%;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    font: 16px/#{(24/16)} $font-family-sans-serif;
    color: $color-text;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    height: 100%;
    width: 100%;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
    margin: 0;
}

button {
    background: transparent;
    border: 0;
    padding: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
    margin: 0;
    border: 0;
    padding: 0;
}

iframe {
    border: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: $color-link;
    transition: all 0.15s ease-out;

    &:active {
        color: $color-link;
    }

    &:hover {
        color: darken($color-link, 15%);
    }
}

[tabindex="-1"]:focus {
    outline: none !important;
}

code,
pre {
    font-family: $font-family-monospace;
    font-size: 0.875rem; //14px
    line-height: (24/14);
}

svg {
    display: inline-block;
    vertical-align: text-bottom;
    fill: currentColor;
}

::-webkit-scrollbar {
    height: 0.125rem;
    width: 0.125rem;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-thumb {
    background: rgba($color-text, 0.1);
    border: 0 none transparent;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba($color-text, 0.2);
}

::-webkit-scrollbar-thumb:active {
    background: rgba($color-text, 0.3);
}

::-webkit-scrollbar-track {
    background: transparent;
    border: 0 none transparent;
    border-radius: 0;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

::-webkit-scrollbar-track:active {
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-text;
    font-weight: bold;
}

@import 'frame';
@import 'components/**/*.scss';
