.Browser {
    border: 1px solid #aaa;
    border-top: 2.5em solid #f6f6f6;
    box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 6px 6px 0 0;
}

.Browser:before {
    display: block;
    position: absolute;
    content: '';
    top: -1.5em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    background-color: linear-gradient(to bottom,  #f6f6f6 0%,#ededed 100%);
    box-shadow: 0 0 0 2px #f44, 1.3em 0 0 2px #9b3, 2.6em 0 0 2px #fb5;
    // border-bottom: 1px solid #333;
}

.Browser--with-tab:after {
    display: block;
    position: absolute;
    content: '';
    top: -2.5em;
    left: 5.5em;
    width: 20%;
    height: 0em;
    border-bottom: 2em solid white;
    border-left: 0.8em solid transparent;
    border-right: 0.8em solid transparent;
}

.Browser--with-url:after {
    display: block;
    position: absolute;
    content: 'http://localhost:3000';
    font-family: monospace;
    font-size: 11px;
    color: #888;
    text-align: left;
    top: -2.8em;
    left: 8em;
    width: calc(100% - 9.6em);
    padding: 2px 10px;
    height: 1.9em;
    border-radius: 2px;
    background-color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #e8e8e8;
}

.Browser > * {
    display: block;
}
