.Header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.Header-brand {
    text-decoration: none;
    font-size: 22px;
    color: $color-text;
    font-weight: bold;
}

.Header-version {
    font-size: 0.7em;
    color: rgba($color-text, 0.5);
    font-weight: normal;
}

.Header-nav {
    margin-left: auto;
}

.Header-navItems {
    display: flex;
    list-style: none;
    align-content: center;
    li {
        & + li {
            margin-left: 20px;
        }
        a {
            text-decoration: none;
        }
    }
}
