.Header {
    display: flex;
    height: 4em;
    align-items: center;
    @media all and (min-width: 1100px) {
        .Logo {
            // margin-left: -50px;
        }
    }
}

.Header-nav {
    margin-left: auto;
}

.Header-navItems {
    display: flex;
    list-style: none;
    align-content: center;
    li {
        & + li {
            margin-left: 30px;
        }
        a {
            text-decoration: none;
        }
    }
    .Header-navItem--github {
        margin-left: 32px;
    }
    svg {
        width: 24px;
        height: 24px;
        fill: #888;
    }
    @media all and (max-width: 400px) {
        li {
            & + li {
                margin-left: 15px;
            }
            font-size: 15px;
        }
        .Header-navItem--github {
            display: none;
        }
    }
}
