.Logo {
    text-decoration: none;
    color: $color-text;
    font-weight: bold;
    display: flex;
    align-items: center;
    white-space: nowrap;
    &:hover {
        color: $color-text;
    }
    svg {
        margin-right: 7px;
    }
    &:hover svg {
        transform: rotate(2deg);
    }
    @media all and (max-width: 400px) {
        .Logo-text {
            font-size: 20px;
        }
        svg {
            width: 28px;
        }
    }
}

.Logo-text {
    font-size: 24px;
    position: relative;
    z-index: 2;
}

.Logo-version {
    font-size: 13px;
    color: rgba($color-text, 0.5);
    font-weight: normal;
    font-style: normal;
    margin-left: 4px;
    display: none;
}
