.Page {

}

.Page-header {
    // background-color: #ccc;

}

.Page-title {
    margin: 0 0 0.9em 0;
}

.Page-content {
    max-width: 800px;
}

.Page-placeholder {
    font-style: italic;
    opacity: 0.5;
}
