.Panel {
    @media all and (min-width: 1100px) {
        margin-left: -50px;
        margin-right: -50px;
    }
}

.Panel--intro {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    flex-grow: 1;

    .Panel-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-grow: 1;
        justify-content: center;
    }

    .Browser {
        margin: 20px 30px 40px 30px;
        @media all and (max-width: 400px) {
            margin-left: 15px;
            margin-right: 15px;
        }
    }

    .Panel-text {
        padding: 0 20px 0 20px;
        &:before {
            content: '';
            display: block;
            height: 12vh;
            max-height: 120px;
        }
        &:after {
            content: '';
            display: block;
            height: 6vh;
            max-height: 100px;
        }
    }

    .Panel-title {
        font-weight: normal;
        font-size: 50px;
        margin-bottom: 6px;
    }

    .Panel-strapline {
        font-weight: normal;
        color: #777;
        font-size: 20px;
        padding: 0 20px;
        &:after {
            content: '';
            display: block;
            height: 3vh;
            max-height: 30px;
        }
    }

    @media all and (max-width: 940px) {
        .Panel-title {
            font-size: 5.5vw;
        }
        .Panel-strapline {
            font-size: 18px;
        }
    }

    @media all and (max-width: 800px) {
        .Panel-strapline{
            font-size: 16px;
        }
    }

    @media all and (max-width: 600px) {
        .Panel-title {
            font-size: 22px;
            font-weight: bold;
        }
    }

}
