.Tree {
    .Tree-item {
        margin-bottom: 6px;
    }
}

.Tree-collectionLabel {
    margin-bottom: 4px;
    margin-top: 8px;
}

.Tree-depth-2 {
    .Tree-item {
        margin-left: 20px;
    }
}
