.Tree {
    .Tree-item {
        margin-bottom: 6px;
        font-size: 15px;
        a {
            display: block;
        }
    }
}

.Tree-collectionLabel {
    margin-top: 20px;
    // padding-bottom: 6px;
    // border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.Tree-depth-2 {
    .Tree-item {
        // margin-left: 20px;
    }
}

.Tree-entityLink {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    .Tree-entity.is-current & {
        // font-weight: bold;
        color: darken($color-link, 20%);
        &:hover {
            text-decoration: none;
        }
    }
}

.Tree-toc {
    margin-top: 5px;
}

.Tree-tocItem {
    font-size: 14px;
    margin: 5px 0 5px 15px;
    a {
        text-decoration: none;
        display: block;
        padding-left: 10px;
        position: relative;
        color: #777;
        &:hover span {
            text-decoration: underline;
        }
        &:before {
            content: '-';
            margin-right: 5px;
            color: #666;
            position: absolute;
            left: 0;
            top: 0;
            display: block;
        }
    }
}
